.add h1{
    font-size: 2.5vw;
    margin: 2vh;
}

.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 5vw 2vh 5vw;
}

.fields{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly
}

app-profile-picture-selection{
    margin-right: 4vw;
}

app-input-text-field{
    //top and bottom margin
    margin:1vh;
    justify-self: center;
    align-items: center;
}