<div class="search-member">
    <input type="text" placeholder="Rechercher un membre" (input)="filterProfiles($event)"/>
</div>
<div class=profile-list>
    <ng-container *ngIf="(showProfiles.length==0)">
        <div class="not-found">
            <p>aucun profil correspondant...</p>
            <img src="../../../assets/not-found.png" alt="logo"/>
        </div>
    </ng-container>
    <div class="profile" *ngFor="let profile of showProfiles; let i=index;"> 
        <ng-container *ngIf="((i==0 || i==2) && showProfiles.length>=3) || (showProfiles.length<=2 && i==1 && start==0) || (showProfiles.length<=2 && showProfiles.length>1 && i==0 && start==profiles.length-1)">
            <app-profile class="preview" [profile]="profile"></app-profile>
        </ng-container>
        <ng-container *ngIf="(i==1 && showProfiles.length>=3) || (showProfiles.length<=2 && i==0 && start==0) || (showProfiles.length<=2 && i==1 && start==profiles.length-1) ">
            <div class="main-profile">
                <img class="arrow" *ngIf="hasLeftNeighbor" src="../../../assets/move_left.png" alt="move left" (click)="goLeft()">
                <app-profile [profile]="profile"></app-profile>
                <img class="arrow" *ngIf="hasRightNeighbor" src="../../../assets/move_right.png" alt="move right" (click)="goRight()">
            </div>
        </ng-container>
    </div>
</div>
<div class="profile-options">
    <app-button [buttonStyle]="firstAndLastButtonStyle" [picture]="'../../../assets/option.png'"/>
    <app-button [buttonStyle]="middleButtonStyle" [text]="'Jouer'" [routerLink]="redirect"/>
    <app-button [buttonStyle]="firstAndLastButtonStyle" [picture]="'../../../assets/stats.png'"/>
</div>