div {
    line-height: 0;
    font-size: 3em;
    width: 3em;
    border-radius: 10px;
    box-shadow: 0 0 1px black;
    display: flex;
    justify-content: center;
}

.turningRed {
    color: red;
    animation: pulse infinite 1s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 3px red;
    }

    50% {
        box-shadow: 0 0 10px red;
    }

    100% {
        box-shadow: 0 0 3px red;
    }
}