div{
  position:relative;
}

svg {
  width: 8vw;
  transform: rotateZ(-90deg);
    
}

label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
}


circle {
  fill: none;
  stroke-width: 15;
  stroke: #3bf711;
  stroke-dasharray: 503px;
  stroke-dashoffset: 0px;
  animation: countdown 0s linear infinite;
}

@keyframes countdown {
  0% {
    stroke: #3bf711;
  }
  50% {
    stroke: #dcf711;
  }
  75% {
    stroke: #f78811;
  }
  100% {
    stroke: #fe0000;
    stroke-dashoffset: 503;
  }
}

.stopAnimation {
  animation:none;
}

.pauseAnimation {
  animation-play-state: paused;
}