label {
    font-size: 1.5em;
    margin-right: 1vw;
    font-weight: bold;
}


label+* {
    display: flex;
    justify-content: right;
    align-items: center;
}


.single-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 50vw;
}