.space {
    /* same as key component */
    height: 2em;
    border: none;
    transform: scale(1);
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-size: 3vw;
    line-height: 0px;

    /* unique */
    width: 12em;
    border-radius: 100rem;
}

.space:active {
    /* same as key component */
    transition-duration: 0.5s;
    opacity: 0.5;

    /* unique */
    transform: scale(1.125);
}