<header>
    <app-navbar [default]="0"></app-navbar>
    <app-exit-button [routerLink]="'/profiles'" />
</header>
<main>
    <h1>Information du profil</h1>
    <app-profil-info />
    <h1>Préconfiguration des parties</h1>

    <div class="preset">
        <app-option [caption]="'Afficher le chronomètre'">
            <app-checkbox />
        </app-option>

        <app-option [caption]="'Définir un temps par position de main'">
            <app-checkbox />
            <input type="number" placeholder="sec" min="1" #numberInput />
        </app-option>
    </div>


</main>