.profile {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 5vh;
}



h1 {
    font-size: 2.5rem;
    text-align: center;
}


app-option input[type="number"] {
    margin-left: 1vw;
    width: 3vw;
    height: 5vh;
}

app-option:last-child {
    margin-bottom: 10vh;
}


.preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preset {
    display: grid
}

.preset app-option {
    padding: 2vh;
}


hr {
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid gray;
}


.columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    margin-bottom: 4vh;
}