<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems"
        [exitButtonLink]="exitButtonLink"></app-navbar>
</header>
<main>
    <h1>Informations du profil</h1>
    <div class="profile">
        <app-button class="delete" [picture]="'../../assets/delete.png'" (buttonClicked)="showPopup()"
            [buttonStyle]="buttonStyle"></app-button>
        <app-profil-info />
    </div>

    <h1>Préconfiguration des parties</h1>
    <div class="preset">
        <app-option [caption]="'Afficher le chronomètre'">
            <app-checkbox />
        </app-option>

        <app-option [caption]="'Définir un temps par position de main'">
            <app-checkbox />
            <input type="number" placeholder="sec" min="1" #numberInput />
        </app-option>
    </div>

    <app-popup *ngIf="popupVisible" class="confirm-popup" (exit)="showPopup()">
        <p>Êtes-vous sûr de vouloir supprimer ce profil ?</p>
        <div>
            <app-button [text]="'Annuler'" (buttonClicked)="showPopup()" [buttonStyle]="buttonCancelStyle"></app-button>
            <app-button [text]="'Supprimer'" (buttonClicked)="deleteUser()"
                [buttonStyle]="buttonAcceptStyle"></app-button>
        </div>
    </app-popup>
</main>