.delete {
    position: absolute;
    top: 12vh;
    left: 1vw;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}



app-single-option input[type="number"] {
    margin-left: 1vw;
    width: 3vw;
    height: 5vh;
}

.preset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.confirm-popup div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.confirm-popup p{
    margin-top: 7vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.confirm-popup h1{
    font-size: 1.5rem;
}

.confirm-popup div app-button{
    margin: 0 1vw;
}