<div class="position_description_tab">
    <matrio path="components/box/box" class="first_column">Doigt</matrio>
    <matrio path="components/box/box" class="second_column">Auriculaire</matrio>
    <matrio path="components/box/box" class="third_column">Annulaire</matrio>
    <matrio path="components/box/box" class="fourth_column">Majeur</matrio>
    <matrio path="components/box/box" class="fifth_column">Index</matrio>
    <matrio path="components/box/box" class="sixth_column">Pouce</matrio>

    <matrio path="components/box/box" class="first_column">Touche</matrio>
    <matrio path="components/key_selection_box/key_selection_box" class="second_column"></matrio>
    <matrio path="components/key_selection_box/key_selection_box" class="third_column"></matrio>
    <matrio path="components/key_selection_box/key_selection_box" class="fourth_column"></matrio>
    <matrio path="components/key_selection_box/key_selection_box" class="fifth_column"></matrio>
    <matrio path="components/key_selection_box/key_selection_box" class="sixth_column"></matrio>

    <matrio path="components/box/box" class="first_column">Ordre</matrio>
    <matrio path="components/order_selection_box/order_selection_box" class="second_column"></matrio>
    <matrio path="components/order_selection_box/order_selection_box" class="third_column"></matrio>
    <matrio path="components/order_selection_box/order_selection_box" class="fourth_column"></matrio>
    <matrio path="components/order_selection_box/order_selection_box" class="fifth_column"></matrio>
    <matrio path="components/order_selection_box/order_selection_box" class="sixth_column"></matrio>
</div>