<div class="statistic_board">
    <img src="assets/main_gauche.png" id="stats_left_hand"/>
    <img src="assets/main_droite.png" id="stats_right_hand" />

    <matrio path="components/box/box" class="left_box">Main gauche</matrio>
    <matrio path="components/box/box" class="right_box">Main droite</matrio>

    <matrio path="components/box/box" class="side_box">Taux d'erreur pour l'auriculaire</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">100%</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">80%</matrio>

    <matrio path="components/box/box" class="side_box">Taux d'erreur pour l'anulaire</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">75%</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">8%</matrio>

    <matrio path="components/box/box" class="side_box">Taux d'erreur pour le majeur</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">80%</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">50%</matrio>

    <matrio path="components/box/box" class="side_box">Taux d'erreur pour l'index</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">16%</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">100%</matrio>

    <matrio path="components/box/box" class="side_box">Taux d'erreur pour le pouce</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">8%</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">1%</matrio>

    <matrio path="components/box/box" class="side_box">Temps moyen pour reussir une position</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">536s</matrio>
    <matrio path="components/statistic_box/statistic_box" class="stat">7s</matrio>
</div>