#logo {
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: 5vw;
}

header app-exit-button {
    position: fixed;
    top: 1vh;
    right: 1vw;
}

main {
    margin-top: 10vh;
}

:host {
    --app-quiz-list-height: 85vh;
    --app-quiz-list-width: 40vw;
}