<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems" [exitButtonLink]="exitButtonLink" />
</header>

<main class="statistics">
    <app-list [style]="listStyle" [items]="positionList" [multipleChoice]="true"
        [text]="'Sélectionnez la ou les position(s) à afficher sur le graphique'" [colors]="colors"
        (searchValue)="searchPositions($event)" (selectedFilter)="filterPositions($event)"
        (selectedItems)="filterStatistics($event)" />
    <app-graphic class="stats-chart" [items]="statisticList" (colorsOutput)="updateColors($event)"/>
</main>