<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems" [exitButtonLink]="exitButtonLink" />
</header>

<main class="statistics">
    <app-list [style]="listStyle" [items]="positionList" [multipleChoice]="true"
        [text]="'Sélectionnez une ou plusieurs position(s)'" (searchValue)="searchPositions($event)"
        (selectedFilter)="filterPositions($event)" (selectedItems)="filterStatistics($event)" />
    <app-graphic class="stats-chart" [items]="statisticList"/>
</main>