<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems" [exitButtonLink]="exitButtonLink" />
</header>

<main class="statistics">
    <app-list [style]="listStyle" [items]="positionList" [multipleChoice]="true" [colors]="colorList"
        [text]="'Sélectionnez une ou plusieurs positions'" (colormapEmitter)="sendColorMap($event)"
        (searchValue)="searchPositions($event)" (selectedFilter)="filterPositions($event)"
        (selectedItems)="filterStatistics($event)" />
    <app-graphic class="stats-chart" [items]="statisticList" [colorMap]="colorMap"/>
</main>