.key {
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 100%;
    transform: scale(1);
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-size: 3vw;
    line-height: 0px;

    &:active {
        transform: scale(1.25);
        transition-duration: 0.5s;
        opacity: 0.5;
    }
}

.space_key {
    width: 12em;
    border-radius: 100rem;

    &:active {
        transform: scale(1.125);
    }
}