header img{
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: 5vw;
}

app-exit-button {
    position: fixed;
    top: 1vh;
    right: 1vw;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

main app-button{
    margin-bottom: 5vh;
}
