<div class="quiz" *ngIf="quiz">
    <div>
        <img src="{{this.src}}">
        <p><b>{{quiz.name}}</b> <br> {{this.quiz.positions.length}} question(s)</p>
        <app-button class="detail-quiz-button" [buttonStyle]="detailButtonStyle" [text]="detailsString" (click)="showMoreInfo()"></app-button>
        <app-button class="chose-quiz-button" [buttonStyle]="choseButtonStyle" [text]="'choisir'" (click)="quizIsChosen()"></app-button>
    </div>
    <app-quiz-details *ngIf="showMore" [quiz]="this.quiz"></app-quiz-details>
</div>