.quiz {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    background-color: white;
    border-radius: 0.5dvi;
    box-shadow: 0 0 5px 0px black;
    width: 35vw;
    min-height: 5vh;
    margin: 2vh;
    padding: 1vh;
}

:host {
    .quiz .detail-quiz-button {
        --app-button-height: 5vh;
        --app-button-width: 5vw;
        margin-left: 10px;
        --app-button-background-color: rgb(128, 185, 203);
    }

    .quiz .chose-quiz-button {
        --app-button-height: 5vh;
        --app-button-width: 5vw;
    }
}