.quiz {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}


.hand {
    img {
        width: 10vh;
        height: 10vh;
        opacity: 0.25;
    }

    .side {
        opacity: 1;
    }
}


.name {
    font-size: 1.5em;
    justify-self: center;
}


.position_number {
    justify-self: right;
}


.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 4;
}


hr {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid gray;
}