<div class="quiz" *ngIf="quiz">
    <app-hands [handsStyle]="handsStyle" [side]="quiz.side" />

    <label class="name">{{quiz.name}}</label>

    <div class="position_number">
        <label *ngIf="this.quiz.positions.length == 1">{{this.quiz.positions.length}} position</label>
        <label *ngIf="this.quiz.positions.length > 1">{{this.quiz.positions.length}} positions</label>
    </div>

    <div class="details" *ngIf="showDetails">
        <label class="details_title" >Détails du quiz</label>
        <ng-container *ngFor="let position of this.quiz.positions">
            <hr />
            <app-position [position]="position" [handsStyle]="positionsHandsStyle" [keyStyle]="positionsKeyStyle" />
        </ng-container>
    </div>
</div>