main {
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.option {
    width: 50vw;
}


hr {
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid gray;
}


app-option input[type="number"] {
    margin-left: 1vw;
    width: 3vw;
    height: 5vh;
}


.validate {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.disable {
    pointer-events: none;
    filter: blur(50px);
}


.columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    margin-bottom: 4vh;
}


app-warning-popup {
    position: sticky;
    bottom: 0;
}