
<img src="./assets/static-bg.png" id="bg">
<header>
    <img src="./assets/main-logo.ico" id="logo"/>
    <app-exit-button [link]="'/home'"/>
</header>
<main>
    <h1>Options de la partie</h1>

    <section class="options">

        <div id="hand-selection">
            <label>Choix de la main </label>
            <div>
                <app-button [ngClass]="{'grey':getHand()==='R'}" (click)="switchHand('L')" [text]="'Main gauche'" [picture]="'./assets/main_gauche.png'"/>
                <app-button [ngClass]="{'grey':getHand()==='L'}" (click)="switchHand('R')" [text]="'Main droite'" [picture]="'./assets/main_droite.png'"/>
            </div>
        </div>  

        <div id="display-chrono">
            <label>Afficher le chronomètre </label>
            <app-custom-checkbox (change)="switchChronometer()"/>
        </div>

        <div id="time">
            <label>Définir un temps par position de main </label>
            <div>
                <app-custom-checkbox (change)="switchTimer()"/>
                <input type="number" placeholder="{{getTimer()}}sec" min="1" #numberInput (change)="setTimer(numberInput.value)"/>
            </div>
        </div>

        <div id="position">
            <label class="option-type">Position des mains à travailler </label>
            <app-button (click)="togglePopup()" [text]="'Selectionner'"/>
            <app-quiz-list id="popup" *ngIf="isPopupVisible" (closeSelection)="togglePopup()"/>
        </div>

    </section>
    <app-button id="play-button" [text]="'Valider et Jouer'" (click)="switchGame()" id="play-button"/>
    <app-warning-popup *ngIf="isWarningVisible" [text]="'Veulliez selectionner un quiz'"/>
</main>
