<img src="./assets/static-bg.png" id="bg">
<header>
    <img src="./assets/main-logo.ico" id="logo" />
    <app-exit-button [link]="'/home'" />
</header>
<main>
    <h1>Options de la partie</h1>

    <section class="options">
        <app-single-option [caption]="'Afficher le chronomètre'" (change)="switchChronometer($event)">
            <app-custom-checkbox />
        </app-single-option>

        <app-single-option [caption]="'Définir un temps par position de main'">
            <app-custom-checkbox (change)="switchTimer($event)" />
            <input type="number" placeholder="{{options?.timePerQuestion}}sec" min="1" #numberInput
                (change)="setTime(numberInput.value)" />
        </app-single-option>

        <app-single-option [caption]="'Position des mains à travailler'">
            <app-button (click)="togglePopup()" [text]="'Selectionner'" />
            <app-quiz-list id="popup" *ngIf="isPopupVisible" (exit)="togglePopup()" (closeSelection)="togglePopup()"/>
        </app-single-option>
    </section>
    <app-button id="play-button" [text]="'Valider et Jouer'" (click)="switchGame()" id="play-button" />
    <app-warning-popup *ngIf="isWarningVisible" [text]="'Veulliez selectionner un quiz'" />
</main>