#logo {
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: 5vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

#congrats-emoji {
    width: 20vw;
    position: fixed;
    transform: scaleX(-1) rotate(-20deg);
    top: 10vh;
    right: 10vw;
}

#congrats-title {
    font-size: 4em;
    margin-bottom: 5vh;
    font-weight: 1000;
}

#congrats-message {
    font-size: 3em;
    font-weight: 800;
}

.congrats-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vw;
    width: 20vw;
}

:host {
    .congrats-button {
        --app-button-width: 8vw;
        --app-button-height: 8vh;
        --app-button-font-size: 2vw;
    }

    #quit-congrats {
        --app-button-background-color: #ff0000;
    }
}