<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems"
        [showExitButton]="false"></app-navbar>
</header>

<main>
    <section class="choice" *ngIf="!manage && !informPopup">
        <app-option [caption]="'Créer un nouveau quiz'">
            <app-button [text]="'Créer'" [buttonStyle]="createButtonStyle" (buttonClicked)="creation()" />
        </app-option>

        <hr />

        <app-list [items]="quizList" [text]="'Modifier un quiz existant'" (selectedItems)="modification($event[0])"
            (searchValue)="searchQuizzes($event)" (selectedFilter)="filterQuizzes($event)" />
    </section>

    <section class="manage" *ngIf="manage && !popUp">
        <app-option [caption]="'Nom du quiz'">
            <input type="text" placeholder="Nom du quiz" [value]="quiz.name" (input)="updateName($event)" />
        </app-option>

        <hr />

        <app-list [style]="positionListStyle" [items]="positionList" [multipleChoice]="true" [text]="'Sélectionner la ou les position(s) composant le quiz'"
            [alreadySelectedItems]="quiz.positions" (selectedItems)="updatePositions($event)"
            (searchValue)="searchPositions($event)" (selectedFilter)="filterPositions($event)" />

        <hr />

        <div class="buttons">
            <app-button *ngIf="update" [buttonStyle]="deleteButtonStyle" [text]="'Supprimer'"
                (buttonClicked)="showPopUp()" />
            <app-button [buttonStyle]="cancelButtonStyle" [text]="'Annuler'" (buttonClicked)="reset()" />
            <div class="validate">
                <app-warning-popup *ngIf="warning != ''" [text]="warning" />
                <app-button [buttonStyle]="validateButtonStyle" [text]="(update) ? 'Modifier' : 'Créer'"
                    (buttonClicked)="validate()" />
            </div>
        </div>
    </section>

    <app-popup *ngIf="popUp" class="confirm-deletion-popup" [hideExitButton]="true">
        <p>Êtes-vous sûr de vouloir supprimer ce quiz ?</p>
        <div>
            <app-button [text]="'Annuler'" (buttonClicked)="hidePopUp()"
                [buttonStyle]="cancelButtonStyle"></app-button>
            <app-button [text]="'Supprimer'" (buttonClicked)="delete()"
                [buttonStyle]="validateButtonStyle"></app-button>
        </div>
    </app-popup>

    <app-popup *ngIf="informPopup" class="inform-user-popup" [hideExitButton]="true">
        <p>{{informPopupMessage}}</p>
        <div>
            <app-button [text]="'Ok'" (buttonClicked)="hideInformPopup()"
                [buttonStyle]="validateButtonStyle"></app-button>
        </div>
    </app-popup>
</main>