.position {
    box-shadow: 0 0 5px 0px black;
    background-color: white;
    border-radius: 0.5dvi;
    width: 35vw;
    min-height: 5vh;
    margin: 2vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;

}