.position {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 45vw;
}


.hand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20vh;
}


.keys {
    display: flex;
    justify-content: space-evenly;
    // align-self: right;
}