<app-option [caption]="text">
    <input type="text" placeholder="Rechercher" (input)="search($event)" />
    <app-selector [options]="filters" (selectedOption)="filter($event)" />
</app-option>

<div [ngStyle]="style" class=items>
    <div *ngIf="ones.length == 0" class="empty">
        <p>Aucun élément correspondant...</p>
        <img src="../../../assets/not-found.png" alt="logo" />
    </div>
    <app-list-item *ngFor="let item of ones" [isSelected]="selectedOnes.includes(item)" [item]="item"
        [color]="colorMap.get(item.id)" (selectedItem)="select($event)"/>
</div>