.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 0.5em;
    justify-items: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.space {
    grid-column: 4 / 8;
}