<div class="keyboard">
    <div class="line">
        <matrio path="components/key/key">A</matrio>
        <matrio path="components/key/key">Z</matrio>
        <matrio path="components/key/key">E</matrio>
        <matrio path="components/key/key">R</matrio>
        <matrio path="components/key/key">T</matrio>
        <matrio path="components/key/key">Y</matrio>
        <matrio path="components/key/key">U</matrio>
        <matrio path="components/key/key">I</matrio>
        <matrio path="components/key/key">O</matrio>
        <matrio path="components/key/key">P</matrio>
    </div>
    <div class="line">
        <matrio path="components/key/key">Q</matrio>
        <matrio path="components/key/key">S</matrio>
        <matrio path="components/key/key">D</matrio>
        <matrio path="components/key/key">F</matrio>
        <matrio path="components/key/key">G</matrio>
        <matrio path="components/key/key">H</matrio>
        <matrio path="components/key/key">J</matrio>
        <matrio path="components/key/key">K</matrio>
        <matrio path="components/key/key">L</matrio>
        <matrio path="components/key/key">M</matrio>
    </div>
    <div class="line">
        <matrio path="components/key/key">W</matrio>
        <matrio path="components/key/key">X</matrio>
        <matrio path="components/key/key">C</matrio>
        <matrio path="components/key/key">V</matrio>
        <matrio path="components/key/key">B</matrio>
        <matrio path="components/key/key">N</matrio>
        <matrio path="components/key/key">,</matrio>
        <matrio path="components/key/key">;</matrio>
        <matrio path="components/key/key">:</matrio>
        <matrio path="components/key/key">!</matrio>
    </div>
    <div class="line">
        <matrio path="components/space_key/space_key"></matrio>
    </div>
</div>