
<div class="profil" matrio-class>
  <div class="profil_description">
    <img src="../../assets/switch.png" alt="photo de profil">
    <matrio-content></matrio-content>
    
  </div>
  <div class="options">
    <input type="image" src="../../assets/option.png" alt="photo de profil">
    <a href="/option.html">
      <matrio path="components/button/button" class="play">Jouer</matrio>
    </a>
    <a href="/statistic.html" class="exit">
      <input type="image" src="../../assets/stats.png" alt="photo de profil">
    </a>
  </div>
</div>
