<div class="quiz-list" [ngClass]="{'separator':separator}">
    <h3>Sélectionnez un quiz</h3>
    <div class="filter">
        <label for="filter">Filtrer :</label>
        <input class="searchInput" type="text" placeholder="Rechercher un quiz" (input)="onSearch($event)"/>
        <app-hand-selection-box [boxStyle]="selectionBoxStyle" (sideSelected)="onSelect($event)"></app-hand-selection-box>
    </div>
    <div class=quizzes>
        <div *ngFor="let quiz of quizList">
            <app-quiz [quiz]="quiz" [isSelected]="quiz == selectedQuiz" (quizSelected)="quizSelected($event)" />
        </div>
    </div>
</div>