<div class="quiz-list">
    <label>Sélectionner un ensemble de positions</label>
    <div>
        <input type="text" placeholder="Rechercher un ensemble" (input)="onSearch($event)" />
        <select (change)="onSelect($event)">
            <option value="all">Filtrer</option>
            <option value="side_right">Main droite</option>
            <option value="side_left">Main gauche</option>
            <option value="side_both">Deux mains</option>
        </select>
    </div>
    <div class=quizzes>
        <div *ngFor="let quiz of quizList">
            <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz>
        </div>
    </div>
</div>