<div class="quiz-list">
    <h3>Sélectionnez un quiz</h3>
    <app-exit-button (click)="exitQuizList()"></app-exit-button>
    <div class="filter">
        <input type="text" placeholder="Rechercher un quiz" (input)="onSearch($event)"/>
        <label for="filter">Filtrer :</label>
        <select (change)="onSelect($event)">
            <option value="all">Tous</option>
            <option value="hand_right">Main droite</option>
            <option value="hand_left">Main gauche</option>
        </select>
    </div>
    <div class=quizzes>
        <div class="quiz" *ngFor="let quiz of quizList"> 
            <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz>
        </div>
    </div>
</div>

