label {
    font-size: 1.5em;
    margin-right: 1vw;
    font-weight: bold;
}


label+* {
    display: flex;
    justify-content: right;
    align-items: center;
}


.quiz-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid gray;
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-bottom: 1px solid gray;
    width: 50vw;
}


.quizzes {
    overflow-y: scroll;
    height: var(--app-quiz-list-height, 40vh);
    grid-column: 1 / 3;
}


input,
select {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 10vw;
}


input {
    margin-right: 20px;
}


:host {
    .quiz-list {
        --app-button-width: 10vw;
        --app-button-height: 5vh;
    }
}