.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2em;
    min-height: 1em;
    padding-top:0.75vh;
    padding-bottom:0.75vh;
    border: none;
    cursor: pointer;
    font-family: "nunito";    
    line-height: 0px;
    .button-text {
        color: white;
    }

    &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    &:active {
        transform: scale(0.9);
        transition-duration: 0.1s;
        opacity: 0.5;
    }

    img{
        max-width: 4vw;
        max-height: 3vh;
    }
}

.button-link {
    text-decoration: none;
}