<div class="position_description_tab">
    <app-box>Doigt</app-box>
    <app-box>Auriculaire</app-box>
    <app-box>Annulaire</app-box>
    <app-box>Majeur</app-box>
    <app-box>Index</app-box>
    <app-box>Pouce</app-box>

    <app-box>Touche</app-box>
    <app-key-selection-box></app-key-selection-box>
    <app-key-selection-box></app-key-selection-box>
    <app-key-selection-box></app-key-selection-box>
    <app-key-selection-box></app-key-selection-box>
    <app-key-selection-box></app-key-selection-box>

    <app-box>Ordre</app-box>
    <app-order-selection-box></app-order-selection-box>
    <app-order-selection-box></app-order-selection-box>
    <app-order-selection-box></app-order-selection-box>
    <app-order-selection-box></app-order-selection-box>
    <app-order-selection-box></app-order-selection-box>
</div>