<div class="position_description_tab">
    <div>
        <app-box [boxStyle]="labelBoxStyle">Doigt</app-box>
        <app-box [boxStyle]="labelBoxStyle">Ordre</app-box>
        <app-box [boxStyle]="labelBoxStyle">Touche</app-box>
    </div>

    <ng-container *ngFor="let finger of fingers">
        <div [ngClass]="{not_worked: orderOnFinger[finger] == Order.NOT_WORKED}">
            <app-box [boxStyle]="fingerBoxStyle">{{fingerToString(finger)}}</app-box>

            <app-box [boxStyle]="selectorBoxStyle">
                <app-selector [options]="allOrders"
                    [defaultOption]="ordersDefaultValueOnFinger[finger]"
                    (selectedOption)="updateOrder(finger, $event)" />
            </app-box>

            <app-box [boxStyle]="selectorBoxStyle">
                <app-selector [options]="allSymbols"
                    [defaultOption]="symbolsDefaultValueOnFinger[finger]"
                    (selectedOption)="updateSymbol(finger, $event)" />
            </app-box>
        </div>
    </ng-container>
</div>