.position_description_tab {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.not_worked {
    opacity: 0.5;
}