<div class="position_description_tab">
    <app-box class="first_column">Doigt</app-box>
    <app-box class="second_column">Auriculaire</app-box>
    <app-box class="third_column">Annulaire</app-box>
    <app-box class="fourth_column">Majeur</app-box>
    <app-box class="fifth_column">Index</app-box>
    <app-box class="sixth_column">Pouce</app-box>

    <app-box class="first_column">Touche</app-box>
    <app-key-selection-box class="second_column"></app-key-selection-box>
    <app-key-selection-box class="third_column"></app-key-selection-box>
    <app-key-selection-box class="fourth_column"></app-key-selection-box>
    <app-key-selection-box class="fifth_column"></app-key-selection-box>
    <app-key-selection-box class="sixth_column"></app-key-selection-box>

    <app-box class="first_column">Ordre</app-box>
    <app-order-selection-box class="second_column"></app-order-selection-box>
    <app-order-selection-box class="third_column"></app-order-selection-box>
    <app-order-selection-box class="fourth_column"></app-order-selection-box>
    <app-order-selection-box class="fifth_column"></app-order-selection-box>
    <app-order-selection-box class="sixth_column"></app-order-selection-box>
</div>