<div class="chart-options" matrio-class>
    <div>
        <matrio path="components/custom-checkbox/custom-checkbox"></matrio>
        <label>Auriculaire</label>
    </div>
    <div>
        <matrio path="components/custom-checkbox/custom-checkbox"></matrio>
        <label>Anulaire</label>
    </div>
    <div>
        <matrio path="components/custom-checkbox/custom-checkbox"></matrio>
        <label>Majeur</label>
    </div>
    <div>
        <matrio path="components/custom-checkbox/custom-checkbox"></matrio>
        <label>Index</label>
    </div>
    <div>
        <matrio path="components/custom-checkbox/custom-checkbox"></matrio>
        <label>Pouce</label>
    </div>

</div>
