<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems" [exitButtonLink]="exitButtonLink"></app-navbar>
</header>

<main class="position_creation">
    <section class="global_option">

        <div class="position_hand">
            <label class="option_type">Main travaillée:</label>
            <app-side-selection [twoPossibilities]="true" (rightOrLeftSelected)="onSideSelected($event)"></app-side-selection>
        </div>

        <div class="description_tab">
            <label class="option_type">Description de la position:</label>
            <app-position-description-tab [createPosition]="endCreation" (positionDescription)="updatePosition($event)"></app-position-description-tab>
        </div>

        <div class="keyboard">
            <app-keyboard [keyboardStyle]="keyboardStyle" [keysToPress]="allKeysInRed"></app-keyboard>
        </div>

        <div class="validation_button">
            <app-button [buttonStyle]="buttonStyle" [text]="'Valider'" (buttonClicked)="onCreationEnd()"></app-button>
        </div>

    </section>
</main>