<main>
    <section class="choice" *ngIf="!manage">
        <app-option [caption]="'Créer une position'">
            <app-button [text]="'Créer'" [buttonStyle]="createButtonStyle" (buttonClicked)="creation()" />
        </app-option>

        <hr />

        <app-list [items]="positionList" [text]="'Modifier une position'" (selectedItems)="modification($event[0])"
            (searchValue)="searchPositions($event)" (selectedFilter)="filterPositions($event)" />
    </section>

    <section class="manage" *ngIf="manage">
        <app-option [caption]="'Main travaillée'">
            <app-selector [options]="sidePossibilities" [defaultOption]="sideToString(position.side)"
                (selectedOption)="updateSide($event)" />
        </app-option>

        <hr />

        <app-option [caption]="'Description de la position'"></app-option>

        <app-position-description-tab [keys]="position.keys"
            (keysDescribed)="updateKeys($event)"></app-position-description-tab>

        <app-keyboard [keyboardStyle]="keyboardStyle" [keysToPress]="allKeysInRed" />

        <hr />

        <div class="validate" *ngIf="manage">
            <app-button [buttonStyle]="buttonStyle" [text]="'Valider'" (buttonClicked)="validate()" />
        </div>
    </section>
</main>