<header>
    <img src="./assets/main-logo.ico" id="logo" />
    <app-exit-button [link]="'/home'" />
</header>

<main>

    <app-quiz-list [quizListStyle]="quizListStyle" />

    <section>
        <app-single-option [caption]="'Main travaillée'"><app-side-selection [twoPossibilities]="true"
                (rightOrLeftSelected)="onSideSelected($event)"></app-side-selection>
        </app-single-option>

        <hr />

        <label class="option_type">Description de la position :</label>
        <app-position-description-tab [createPosition]="endCreation"
            (positionDescription)="updatePosition($event)"></app-position-description-tab>

        <app-keyboard [keyboardStyle]="keyboardStyle" [keysToPress]="allKeysInRed"></app-keyboard>


        <app-button [buttonStyle]="buttonStyle" [text]="'Valider'" (buttonClicked)="onCreationEnd()"></app-button>
    </section>
</main>