<div class="profile-menu" matrio-class>
    <matrio path="components/profil/profil" class="sub_profil"><matrio-content></matrio-content></matrio>
    <input type="image" src="../../assets/move_left.png" class="move-arrow">
    <matrio path="components/profil/profil"><matrio-content></matrio-content></matrio>
    <input type="image" src="../../assets/move_right.png" class="move-arrow">
    <matrio path="components/profil/profil" class="sub_profil"><matrio-content></matrio-content></matrio>
</div>