<header>
    <app-timer [maxTime]="options.timePerQuestion" [show]="options.chronometer"
        [start]="this.options.timePerQuestion !== undefined || this.options.chronometer" (timeOut)="nextPosition()" />
    <app-exit-button [link]="'/options'" />
</header>

<main [ngClass]="{correct:isCorrect}" *ngIf="!isCorrect">
    <app-progress-bar [positions]="numberOfPositions" [current_position]="currentPositionIndex" />
    <app-hand [keysToPress]="keysToPress" [side]="this.options.side" />
    <app-keyboard [keysToPress]="keysToPress" (nextPosition)="nextPosition()" (isCorrect)="isAnswerCorrect($event)" />
</main>
<app-super-hand *ngIf="isCorrect">