.timer_progress {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 1vh;
    left: 1vw;

    app-timer {
        margin-top: 1vh;
    }
}


app-exit-button {
    position: fixed;
    top: 1vh;
    right: 1vw;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    .break_button_and_hands {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 50%;

        app-button {
            margin-right: 2.5vw;
        }

        app-hands {
            margin-right: 2.5vh;
        }
    }
}


app-hands {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}


.disable {
    pointer-events: none;
    filter: blur(50px);
}

.break_popup_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}	