<header [ngClass]="{disable:showPopup}">
    <div class="timer_progress">
        <app-progress-bar [positions]="numberOfPositions" [current_position]="currentPositionNumber" />
        <app-timer [maxTime]="options.timePerQuestion"
            [start]="this.options.timePerQuestion !== undefined || this.options.chronometer" [paused]="this.showPopup"
            [stop]="this.stop" (timeOut)="nextPosition()" *ngIf="options.chronometer || options.timePerQuestion" />
    </div>
    <app-exit-button (click)="togglePopup(false)" />
</header>

<main *ngIf="!isCorrect" [ngClass]="{disable:showPopup}">
    <app-hand [keysToPress]="keysShown" [side]="position.side" />
    <app-keyboard [keysToPress]="keysShown" (nextPosition)="nextPosition()" (isCorrect)="isAnswerCorrect($event)" />
</main>

<app-popup *ngIf="showPopup" (exit)="togglePopup($event)">
    <app-login />
</app-popup>
<app-super-hand *ngIf="isCorrect">