#delete_me {
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}

#timer {
    position: fixed;
    top: 1vh;
    left: 1vw;
    font-size: 3vw;
    border: 1px solid #000;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10%;
    padding: 5px;
    box-shadow: 0 0 3px #000;
}

app-exit-button {
    position: fixed;
    top: 1vh;
    right: 1vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}