<header>
    <app-navbar [currentPageIndex]="currentPageIndex" [navItems]="navItems"
        [exitButtonLink]="exitButtonLink"></app-navbar>
</header>

<main>
    <section class="choice" *ngIf="!manage">
        <app-option [caption]="'Créer une position'">
            <app-button [text]="'Créer'" [buttonStyle]="createButtonStyle" (buttonClicked)="creation()" />
        </app-option>

        <hr />

        <app-list [items]="positionList" [text]="'Modifier une position'" (selectedItems)="modification($event[0])"
            (searchValue)="searchPositions($event)" (selectedFilter)="filterPositions($event)" />
    </section>

    <section class="manage" *ngIf="manage">
        <app-option [caption]="'Main travaillée'">
            <app-selector [options]="sidePossibilities" [defaultOption]="sideToString(position.side)"
                (selectedOption)="updateSide($event)" />
        </app-option>

        <hr />

        <app-option [caption]="'Description de la position'"></app-option>

        <app-position-description-tab [keys]="position.keys"
            (keysDescribed)="updateKeys($event)"></app-position-description-tab>

        <app-warning-popup class="explainations" [text]="'N\'oubliez pas de tester la position avant de la valider'" />
        <!--
        <p class="explainations">
            Appuyez en même temps sur l'ensemble des touches concernées par la position pour
            vérifier qu'elles son détectées simultanément par votre clavier.
            <br />
            Si toutes les touches que vous pressez ne sont pas relevées sur le clavier ci-dessous,
            cela signifie que la position n'est pas réalisable sur votre clavier.
        </p>
-->
        <app-keyboard [keyboardStyle]="keyboardStyle" [keysToPress]="allKeysInPurple" />

        <hr />

        <div class="buttons" *ngIf="manage">
            <app-button *ngIf="update" [buttonStyle]="deleteButtonStyle" [text]="'Supprimer'"
                (buttonClicked)="showPopup()" />
            <app-button [buttonStyle]="cancelButtonStyle" [text]="'Annuler'" (buttonClicked)="reset()" />
            <div class="validate">
                <app-warning-popup *ngIf="warning != ''" [text]="warning" />
                <app-button [buttonStyle]="validateButtonStyle" [text]="(update) ? 'Modifer' : 'Créer'"
                    (buttonClicked)="validateChanges()" />
            </div>
        </div>

        <app-popup *ngIf="popUp" class="confirm-popup" (exit)="showPopup()">
            <p>Êtes-vous sûr de vouloir supprimer cette position ?</p>
            <div>
                <app-button [text]="'Annuler'" (buttonClicked)="showPopup()"
                    [buttonStyle]="cancelButtonStyle"></app-button>
                <app-button [text]="'Supprimer'" (buttonClicked)="deletePosition()"
                    [buttonStyle]="validateButtonStyle"></app-button>
            </div>
        </app-popup>
    </section>
</main>