<app-single-option [caption]="'Sélectionnez une position'">
    <input type="text" placeholder="Rechercher une position" (input)="onSearch($event)" />
    <app-side-selection (sideSelected)="onSelect($event)"></app-side-selection>
</app-single-option>

<div [ngStyle]="positionListStyle" class=quizzes>
    <app-list-item *ngFor="let position of this.positionList" [isSelected]="position == selectedPosition"
        [item]="position" (itemSelected)="quizSelected($event)">
        <app-position [position]="position" />
    </app-list-item>
</div>