.item {
    box-shadow: 0 0 5px 0px black;
    background-color: white;
    border-radius: 0.5dvi;
    min-height: 5vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
}


.selected {
    box-shadow: 0px 0px 10px 5px #1dc42e;
}