.hands {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
}


.opacity {
    opacity: 0.25;
}


.positionned {
    position: relative;
}


.hand {
    position: absolute;
    width: inherit;
    height: inherit;
}


.symmetrical {
    transform: scaleX(-1);
}